@model IEnumerable<pajo22.Models.ProductModels>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/head_foot.cshtml";
}

<!--  noUiSlider CSS -->
<link rel="stylesheet" href="~/template/assets/css/nouislider.css" />

<div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5 flex flex-col md:flex-row justify-between">
        <!-- Product Filters -->
        <div class="md:w-4/12 lg:w-3/12 md:mr-5 mb-5 md:mb-0">
            <form action="@Url.Action("Index", "user")" method="get" id="filterForm">

                

                <div class="bg-white mb-4 px-3 py-3 border rounded-xl">
                    <div>
                        <div class="text-lg font-medium">
                            بر اساس نام:
                        </div>
                    </div>
                    <input type="text" name="nameFilter" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" value="@ViewContext.HttpContext.Request.Query["nameFilter"]" />
                </div>
                <div class="bg-white mb-4 px-3 py-3 border rounded-xl">
                    <div>
                        <div class="opacity-80 mb-1">
                            فیلتر بر اساس قیمت :
                            <div id="price-slider" class="mb-4"></div>
                        </div>
                        <input type="number" id="minPriceFilter" name="minPriceFilter" placeholder="Min Price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" value="@ViewContext.HttpContext.Request.Query["minPriceFilter"]" />             
                        <input type="number" id="maxPriceFilter" name="maxPriceFilter" placeholder="Max Price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" value="@ViewContext.HttpContext.Request.Query["maxPriceFilter"]" />
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">اعمال فیلتر ها</button>
                <a href="/" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-3 inline-block">نشان دادن تمامی قیمت ها</a>
            </form>
        </div>

        <!-- Product List -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:w-8/12 lg:w-9/12" id="productList">
            @foreach (var product in Model)
            {
                <a href="/productModels" class="my-2 py-2 md:p-3 border rounded-xl flex items-center sm:inline hover:shadow-lg transition product-item">
                    <div class="Image-box sm:mb-6">
                        <div>
                            <img class="hover:scale-105 transition rounded-md sm:rounded-3xl w-24 sm:w-full mx-auto" src="@Html.DisplayFor(modelItem => product.Image)" alt="Product Image" />
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="text-xs sm:text-sm opacity-90 mb-5">
                            <div class="leading-7 h-auto">
                                @Html.DisplayFor(modelItem => product.Name)
                            </div>
                        </span>

                        @if (product.Status == pajo22.Models.ProductStatus.Inactive)
                        {
                            <span class="text-red-500">ناموجود</span>
                        }
                        else
                        {
                            <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
                                <div>@(product.Price.ToString("N0", new System.Globalization.NumberFormatInfo() { NumberGroupSizes = new[] { 3 }, NumberGroupSeparator = "," }))</div>
                                <div>تومان</div>
                            </div>
                        }

                        <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>
</div>

<!-- noUiSlider JavaScript -->
<script src="~/template/assets/js/nouislider.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // گرفتن قیمت ها
        var productPrices = [@Html.Raw(string.Join(",", Model.Select(p => p.Price)))];
        var minPrice = Math.min(...productPrices);
        var maxPrice = Math.max(...productPrices);

        // گرد کردن قیمت ها
        minPrice = Math.floor(minPrice);
        maxPrice = Math.ceil(maxPrice);

        // اسلایدر 
        var priceSlider = document.getElementById('price-slider');
        noUiSlider.create(priceSlider, {
            start: [minPrice, maxPrice],
            connect: true,
            range: {
                'min': minPrice,
                'max': maxPrice
            },
            step: 1
        });

        // اتصال اسلایدر به اینپوت
        var minPriceFilter = document.getElementById('minPriceFilter');
        var maxPriceFilter = document.getElementById('maxPriceFilter');

        priceSlider.noUiSlider.on('update', function (values, handle) {
            var value = values[handle];
            handle ? maxPriceFilter.value = value : minPriceFilter.value = value;
        });

        // مساوی کردن اسلایدر با اینپوت ها 
        minPriceFilter.addEventListener('input', function () {
            priceSlider.noUiSlider.set([this.value, null]);
        });

        maxPriceFilter.addEventListener('input', function () {
            priceSlider.noUiSlider.set([null, this.value]);
        });
    });
</script>
