@model pajo22.Models.AttributeValues

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttributeValues</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attribute.AttributeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttributeValueID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
