@model IEnumerable<pajo22.Models.GroupModels>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/head_foot.cshtml";
}
<div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
        <div class="flex flex-col md:flex-row gap-y-3 items-center gap-x-2 mb-7">
            <div class="text-sm opacity-80">
                <div>
                    <div class="text-2xl md:text-3xl opacity-70 mb-3 text-center">
                        گروه ها
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 px-5 md:px-20">
                        <div class="mb-4">
                            <label for="username" class="inline-block mb-2 ml-1 font-semibold text-base md:text-lg text-slate-700">اضافه کردن</label>
                            <a asp-action="Create" class="block w-full rounded-lg bg-green-500 text-white text-sm font-bold px-6 py-4 font-normal text-center">ساختن جدید</a>
                        </div>

                        <div class="mb-4">
                            <table class="table border border-gray-400 rounded-lg bg-white px-3 py-2 font-normal text-gray-700">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            وضعیت
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td class="px-6 py-4">
                                                @if (item.Status == GroupStatus.Active)
                                                {
                                                    <span class="bg-green-500 text-white text-xs rounded-full px-2 py-1">فعال</span>
                                                }
                                                else
                                                {
                                                    <span class="bg-red-500 text-white text-xs rounded-full px-2 py-1">غیرفعال</span>
                                                }
                                            </td>
                                            <td>
                                                <div class="flex">
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="mr-2 border rounded-lg px-2 py-1 bg-blue-500 text-white">ویرایش</a>
                                                    <a asp-action="Details" asp-route-id="@item.Id" class="mr-2 border rounded-lg px-2 py-1 bg-indigo-500 text-purple">جزئیات</a>
                                                    <a asp-action="Delete" asp-route-id="@item.Id" class="border rounded-lg px-2 py-1 bg-red-500 text-white">حذف</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
